body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.wrapper{
    margin:0 0 0 0;
    width: 100%;
    background-color: aqua;
    border-radius: 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-grow: 1;
}
nav ul li{
    background-color: aqua;
    padding:5px;
    text-align: center;
}
nav ul li:hover{
    background-color:chartreuse;
}
nav ul li a{
    color:black !important;
}