body {
    font-family: 'Courier New', 'Courier', 'monospace';
    background-color: rgb(148, 138, 132);}
h3 {
    color: rgb(0, 0, 0);}
summary{
        color:rgb(138, 43, 226)}
a{
    color:blueviolet}







